<!DOCTYPE html>
<html lang="en">

<head>
   <title>Filter</title>    
</head>

<body ng-controller="filactr" ng-init="">
    <div class="container">
        <div class="container-fluid">
            <center>
                <h3>Filter</h3>
            </center>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
                    <input type="text" ng-model="mytext" class="form-control" placeholder="Search......." aria-label="Username"
                        aria-describedby="addon-wrapping">                    
                </div>
            </div>
        </div>
       

        <table class="table table-info table-striped mt-3">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Profile</th>
                </tr>
            <tbody>
                <tr ng-repeat="x in data | filter:mytext | orderBy:'id' | limitTo:'4'">
                    <td>{{x.id}}</td>
                    <td>{{x.name | uppercase }}</td>
                    <td>{{x.city | uppercase }}</td>
                    <td><img ng-src="{{ x.profile }}" alt=""></td>
                </tr>
            </tbody>
        </table>

    </div>


</body>

</html>