

<div class="product-easy"  >
	<div class="container">

        <input type="text" ng-model="search">
        <div class="row">
            <div class="col-md-3 product-men yes-marg" ng-repeat="item in products | limitTo:'5' | filter:search">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img ng-src="{{ item.image }}" alt="" class="pro-image-front">
                        
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="#" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                            
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="#">{{ item.title }}</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">{{ item.Price }}</span>
                            <del>$69.71</del>
                        </div>
                        <a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>									
                    </div>
                </div>
            </div>
        </div>
	
		
	</div>
</div>