<!DOCTYPE html>
<html lang="en">

<body ng-controller="msctr">
  <div class="container">

    <header class="py-3 mb-4 border-bottom">
      <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Click the Button Below.</span>
        </a>
      </div>
    </header>

    <button class="d-grid gap-2 col-6 mx-auto btn btn-success" type="button" ng-model="x"
      ng-click="myfunctionx()">Food</button>

    <button class="d-grid gap-2 col-6 mx-auto mt-3 btn btn-danger" type="button" ng-model="y"
      ng-click="myfunctiony()">Sports</button>



    <!-- food Images -->
    <div class="container" ng-show="x">
      <div class="row" id="Food">
        <h4 class="text-center m-3">Food.</h4>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="ngmodel_show/images/paratha.jpg" class="card-img-top" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Pakistani Paratha</h5>
              <p class="card-text">Paratha with juicy crushed patty inside.</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="ngmodel_show/images/kbb.jpg" class="card-img-top" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Kebab</h5>
              <p class="card-text">From he famous streets of Karachi to your table.</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card  h-100" style="width: 18rem;">
            <img src="ngmodel_show/images/kheer.jpg" class="card-img-top" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Kheer</h5>
              <p class="card-text">is it sour or sweet inside?</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sports images -->
    <div class="container" ng-show="y">
      <div class="row" id="Sports">
        <h4 class="text-center m-3">Sports</h4>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="ngmodel_show/images/ball.jpg" class="card-img-top" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Hard-Ball</h5>
              <p class="card-text">Play cricket with friends on holidays.</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="ngmodel_show/images/bat.jpg" class="card-img-top" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Cricket Bat</h5>
              <p class="card-text">You can see this bat in the hands of legends.</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="ngmodel_show/images/foot.jpg" class="card-img-top" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Football</h5>
              <p class="card-text">Play football to cheerup your weekends. </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <input type="checkbox" ng-model="z"><span> Click Me!!</span>

  <div ng-show="z">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam itaque impedit ex accusantium, ullam possimus sed
      est cumque quae maiores tempore quos unde fugiat illum exercitationem harum vero! Dolorem, ipsum.
    </p>

    <h1>Paragraph</h1>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>

  </div>


</body>

</html>