<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="../lib/angular_1_8_2.js"></script>

</head>

<body ng-app="myapp" ng-controller="myctr1">
    <div class="mt-5"></div>
    <input value="x" type="button" class="btn btn-info btn-lg btn-block" ng-click="myfunctionx()">
    <input value="y" type="button" class="btn btn-success btn-lg btn-block" ng-click="myfunctiony()">
    <!-- <input type="button" value="food" placeholder="food"> -->
    </div>

    <div>
        <h1>{{x}}</h1>

    </div>

    <div>
        <h1>{{y}}</h1>
    </div>


    <script>

        var app = angular.module('myapp', []);
        app.controller('myctr1', function ($scope) {

            $scope.myfunctionx = function () {
                $scope.x = true;
                $scope.x = "food";
            };

            $scope.myfunctiony = function () {
                $scope.y = true;
                $scope.y = "mobile";
            };
        });

    </script>

</body>

</html>